{
  "presets": ["@babel/preset-react"],
  "plugins": [
    "@babel/plugin-check-constants",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-transform-arrow-functions",
    "@babel/plugin-transform-block-scoping",
    "@babel/plugin-transform-classes",
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-transform-computed-properties"
  ]
}
